@model GS.Portal.Web.Areas.Users.Models.UserModels

@{
    ViewBag.Title = "Index";
}

<h2>Index Master User Detail</h2>

<div>
    <div>User Name : @Model.MasterUser.UserName</div><br />
    <div>User Email : @Model.MasterUser.Email</div>
</div>
