@{
    ViewBag.Title = "Home Page";
}

<div @*id="body"*@>
    <div id="content">
        <p>Home Page</p>
        <p>Home Page</p>
        <p>Home Page</p>
        <p>Home Page</p>
        <p>Home Page</p>
    </div>
</div>